
        <h2 class="text-primary">Update Movie Details : {{movie.id}}</h2>
     
           
              Name:
                <input type="text" [(ngModel)]="movie.movieName"> 
                Date:
                <input type="text" [(ngModel)]="movie.showDate"> 
                Time:
                <input type="text" [(ngModel)]="movie.showTime"> 
                Location:
                <input type="text" [(ngModel)]="movie.showingLocation"> 
                 Genre:
                <input type="text" [(ngModel)]="movie.genre"> 
                Image:
                <input type="text" [(ngModel)]="movie.imagePath"> 
                Price:
                <input type="text" [(ngModel)]="movie.price"> 
         
   
          
          
            <br>
            <button class="btn btn-primary">Update Details</button>
        

